/* || Global header styles */

:root {
  --bg-primary: #0033a0;
  --bg-university-level-header: #041E42;
  --bg-local-alert: #4cbcc0;
}

.ukl-ext-clamp .global-header {
  color: white;
  font-family: "usual", sans-serif;
}

.ukl-ext-clamp .utility-links  {
  text-transform: uppercase;
  text-decoration: none;
}

.ukl-ext-clamp .nav-links  {
  text-transform: uppercase;
  text-decoration: none;
}

.ukl-ext-clamp #gethome {
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ukl-ext-clamp #gethome a {
  text-decoration: none;
}

.utility-links {
  font-size: 1rem; 
}

.ukl-ext-clamp .global-header .slab {
  padding: 1.4rem 1rem;
}
.ukl-ext-clamp .slab__wrapper {
  max-width: 72rem;
  margin: 0 auto;
}

.ukl-ext-clamp .nav-links .link a,
.ukl-ext-clamp .utility-links .link a {
  display: block;
}

.ukl-ext-clamp .nav-links .link a svg,
.ukl-ext-clamp .utility-links .link a svg {
  border-radius: 50%;
}

.ukl-ext-clamp .nav-links .link a:hover svg,
.ukl-ext-clamp .utility-links .link a:hover svg {
  background: white;
}

.ukl-ext-clamp .nav-links .link a:hover svg path,
.ukl-ext-clamp .utility-links .link a:hover svg path {
  fill: black;
}

.ukl-ext-clamp .universal-nav a,
.ukl-ext-clamp .nav-links a,
.ukl-ext-clamp .utility-links a {
  text-transform: uppercase;
  text-decoration: none;
}

.ukl-ext-clamp .universal-nav a:hover,
.ukl-ext-clamp .nav-links a:hover,
.ukl-ext-clamp .utility-links a:hover {
  /*text-decoration: underline;*/
  text-decoration: none;
}

.ukl-ext-clamp #gethome .section-heading {
  font-size: 2rem;
  text-decoration: none;
  display: block;
}

.ukl-ext-clamp .global-header {
  background-color: var(--bg-primary);
}

.ukl-ext-clamp .global-header a {
  color: white;
  font-family: "usual", sans-serif;
  font-weight: normal;
}

.ukl-ext-clamp .global-header .slab.global-header__nav-bar {
  display: none;
  padding: rr-gridbase(2);
}

.ukl-ext-clamp .global-header-layout > div {
  padding: 1rem 0 0 0;
}

.ukl-ext-clamp .global-header .utility-nav {
  display: none;
}

.ukl-ext-clamp .global-header .menu-button:focus{
  border-color: #ffffff;
  outline: 2px solid #ffffff;
  background-color: var(--bg-primary);
  color: #DCDDDE;
}

.ukl-ext-clamp .global-header .menu-button:active {
  background-color: var(--bg-primary);
  color: #DCDDDE;
}

.ukl-ext-clamp .global-header button:focus {
  background-color: var(--bg-primary);
  color: #DCDDDE;
}

.ukl-ext-clamp .global-header button[aria-pressed='true']{
  background-color: var(--bg-primary);
  color: #DCDDDE;
}

.ukl-ext-clamp .slab.global-header__nav-bar {
  display: block;
  position: relative;
}

.ukl-ext-clamp .slab.global-header__nav-bar .slab__wrapper {
  padding: rr-grid-remainder(1px, 1.5) 0 rr-gridbase(1.5);
  border-top: 1px color(light-gray) solid;
}

.ukl-ext-clamp .nav-links .link,
.ukl-ext-clamp .utility-links .link {
  margin: 0 0 0.5rem 0;
}

.ukl-ext-clamp .utility-nav {
  display: block;
}

.ukl-ext-clamp .global-header__banner {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
}

.ukl-ext-clamp .global-header__banner .uky-logo-main {
  width: 14.118rem;
  height: rr-gridbase(7);
}

@media screen and (min-width: 768px) {
  .ukl-ext-clamp .global-header-layout {
    display: flex;
    justify-content: space-between;
    line-height: 1;
  }
  
  .ukl-ext-clamp .global-header-layout > div {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .ukl-ext-clamp .global-header .uky-logo-main {
    width: 23.118rem;
    height: rr-gridbase(12);
  }

  .ukl-ext-clamp .slab.global-header__masthead {
    padding: rr-gridbase(3) rr-gridbase(2) rr-gridbase(1);
  }

  .ukl-ext-clamp .nav-links,
  .ukl-ext-clamp .utility-links {
    display: flex;
    align-items: center;
  }
  
  .ukl-ext-clamp .nav-links .link,
  .ukl-ext-clamp .utility-links .link {
    margin: 0 0.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .ukl-ext-clamp .slab.global-header__masthead {
    padding: rr-gridbase(3) 0 rr-gridbase(1);
  }

  .ukl-ext-clamp .slab.global-header__nav-bar {
    padding-right: 0;
    padding-left: 0;
  }
}


/* || Universal header styles */

.ukl-ext-clamp .universal-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--bg-university-level-header);
  color: white;
}

.ukl-ext-clamp .universal-header.slab {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ukl-ext-clamp .universal-header a {
  color: white;
  text-decoration: none;
  border-bottom: 0px;
  font-weight: normal;
}

.ukl-ext-clamp .universal-header a:hover {
  color: #B1C9E8;
  text-decoration: none;
}

.ukl-ext-clamp .universal-header .universal-header__layout {
  justify-content: space-between;
}

.ukl-ext-clamp .universal-header.clamp--wildcat {
  background-color: var(--bg-primary);
}

.ukl-ext-clamp .universal-nav .my-uk-logo {
  height: 1.5rem;
  box-sizing: content-box;
  font-size: 1rem;
}

.ukl-ext-clamp .universal-nav .my-uk-logo svg {
  display: block;
  width: 3.4375em;
  height: 1.5rem;
  margin: 0 auto;
}

.ukl-ext-clamp .universal-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ukl-ext-clamp .universal-nav > * {
  flex: 0 1 auto;
  margin-left: 1rem;
}

.ukl-ext-clamp .universal-nav a {
  font-weight: 500;
  font-family: "usual", sans-serif;
}

.ukl-ext-clamp .universal-breadcrumb ul {
  font-size: 1.1667rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "usual", sans-serif;
  font-weight: normal;
  list-style: none;
}

.ukl-ext-clamp .universal-breadcrumb ul li {
  display: inline;
  position: relative;
  margin-right: calc(1rem + 1px);
  white-space: nowrap;
}

.ukl-ext-clamp .universal-breadcrumb ul li a {
  font-size: 1rem;
}

.ukl-ext-clamp .universal-breadcrumb ul li:not(:last-child)::after {
  display: block;
  position: absolute;
  top: 50%;
  right: -0.5rem;
  width: 1px;
  height: 1rem;
  transform: translateY(-50%);
  background-color: #fff;
  content: '';
}

.ukl-ext-clamp .link--fancy-reverse::before {
  position: absolute;
  content: "◂";
  transition: left .3s ease-in-out;
  color: #1897d4;
  left: 0.1rem;
  padding-right: 0.5rem;
  font-size: 20px;
}

.ukl-ext-clamp .link--fancy-reverse {
  position: relative;
  margin-left: -1rem;
  padding-left: 1.2rem;
}

@media screen and (min-width: 398px) {
  .ukl-ext-clamp .universal-header__layout {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .ukl-ext-clamp .universal-nav {
    justify-content: flex-end;
  }

  .ukl-ext-clamp  .universal-nav > * {
    margin-bottom: 0;
  }

  .ukl-ext-clamp .universal-nav .my-uk-logo,
  .ukl-ext-clamp .universal-nav .search-control {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }

  .ukl-ext-clamp .universal-nav:first-child:last-child {
    position: relative;
    width: 100%;
  }
}


/* || Global styles */

/** Some global styles **/

.ukl-ext-clamp a {
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.ukl-ext-clamp .link--sans {
  font-family: "usual", sans-serif;
}

.ukl-ext-clamp .link--fancy-reverse:hover::before {
  left: 0;
}

.ukl-ext-clamp .show-for-sr {
  display: block;
  position: absolute;
  top: -999999em;
  left: -999999em;
}

.ukl-ext-clamp .link-group a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1667rem;
  line-height: 1.5rem;
}

.ukl-ext-clamp .link-group a:hover,
.ukl-ext-clamp .link-group a:active {
  text-decoration: underline;
}

/* || Footer styles */

.slab__wrapper {
  font-size: 1rem;
}

#ukfooter > div > div:nth-of-type(2) > div > div:nth-of-type(2) > div:nth-of-type(2) > a > span {
  font-size: unset;
  font-weight: unset;
  padding: 0 0 0 0;
}

#block-campusmap > div > a > span:nth-of-type(2) {
  font-size: unset;
  font-weight: unset;
  word-break: normal;
  max-width: 75%;
  padding: 10px;
  white-space: normal;
  text-align: unset;
}

.ukl-ext-clamp .universal-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--bg-primary);
  color: white;
  font-family: "usual", sans-serif;
}

.ukl-ext-clamp .universal-footer a {
  color: white;
}

.ukl-ext-clamp .universal-footer .uk-wordmark {
  display: block;
  width: 70vw;
  height: 7.14vw;
  margin: 0 auto 1rem;
}

.ukl-ext-clamp .universal-footer__ribbon {
  padding-bottom: 1rem;
}

.ukl-ext-clamp .universal-footer__ribbon a {
  line-height: 17px;
  text-decoration: none;
  text-shadow: 1px 0 1px var(--bg-primary), 2px 0 1px var(--bg-primary), -1px 0 1px var(--bg-primary), -2px 0 1px var(--bg-primary);
}

.ukl-ext-clamp .universal-footer__ribbon a.underline-link {
  background-attachment: scroll;
  background-image: linear-gradient(to top, rgba(161, 211, 237, 0.6) 0, rgba(161, 211, 237, 0.6) 0.5em, transparent 0.5em, transparent 110%), linear-gradient(to top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 1px, transparent 1px, transparent 100%);
  background-repeat: no-repeat;
  background-position: 0 .5em, 0 0;
  position: relative;
  transition: .2s background-position ease-out;
  z-index: 1;
  font-weight: normal;
  text-decoration: none;
}

.ukl-ext-clamp .universal-footer__ribbon a.underline-link:hover {
  background-position: 0 0,1000px 1px;
}

.ukl-ext-clamp .universal-footer__ribbon a.underline-link:hover,
.ukl-ext-clamp .universal-footer__ribbon a.underline-link:active {
  text-shadow: none;
}

.ukl-ext-clamp .universal-footer__ribbon .icon-label .label {
  font-weight: normal;
  text-decoration: none;
}

#ukfooter > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > a > span {
  font-weight: normal;
  text-decoration: none;
  font-size: 100%;
  color: white;
}

.ukl-ext-clamp .universal-footer__ribbon > * {
  margin-bottom: 1rem;
}

.ukl-ext-clamp .universal-footer__ribbon svg {
  height: 1rem;
}

@media screen and (min-width: 1024px) {
  .ukl-ext-clamp .universal-footer .uk-wordmark {
    width: 20rem;
    height: 2.04rem;
  }

  .ukl-ext-clamp .universal-footer__ribbon {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .ukl-ext-clamp .universal-footer__ribbon > * {
    margin-right: -1px;
    margin-bottom: 0;
    padding: 0 1rem;
    border-right: 1px #a1d3ed solid;
    border-width: 0 1px;
  }

  .ukl-ext-clamp .universal-footer__ribbon > *:first-child {
    padding-left: 0;
  }

  .ukl-ext-clamp .universal-footer__ribbon > *:last-child {
    margin-right: 0;
    padding-right: 0;
    border-width: 0;
  }

}

/* || Added header/footer styles */

body {
  margin: 0px 0px 0px 0px;
}

.show-for-sr {
  display:none;
}

/* Custom block UKL survey message styles */

.slab .site-ukl-survey.slab:first-child {
  padding-top: 0;
}

.surveybtn {
  background: none;
  border: none; 
  padding: 0; 
  cursor: pointer;
}

.site-ukl-survey .slab__wrapper {
  background-color: var(--bg-local-alert);
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 0 auto; 
}

.site-ukl-survey .icon-wrapper {
  margin-right: 4rem;
}

.site-ukl-survey .message p:last-child {
  margin-bottom: 0;
}

.site-ukl-survey .message p:first-child {
  margin-top: 0;
}

.site-ukl-survey h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--bg-primary);
  margin: 0;
  line-height: 1.2;
}

#uklsurvey {
  background: var(--bg-local-alert);
  font-family: "usual", sans-serif;
}

#uklsurvey .slab__wrapper {
  background: var(--bg-local-alert);
}

#uklsurveylink > a {
  word-wrap: break-word;
}

#ukl-survey-foil {
  width: 100%;
}
  
#ukl-survey-close {
  float:right;
}

#survey_button_less {
  display: block;
  color: var(--bg-primary);
  float: right;
  margin-left: 2vmin;
  width: 7mm;
  height: 7mm;
  background-size: 100%;
}

#survey_button_less::after {
  font-size: 16px;
  content: "\02612 \0000a0 CLOSE";
}

#uklsurveymsg {
  color: var(--bg-primary);
}

#uklsurveylink a {
  color: #212121;
}

@media screen and (max-width: 765px) {
  #ukl-survey-close {
    display: none;
  }
  
  #survey_button_less {
    display: none;
  }

  #ukl-survey-close-mobile {
    padding-bottom: 10px;
  }
  
  #ukl-survey-close-mobile > a {
    text-decoration: none;
  }
  
  #uklsurveymsg {
  color: var(--bg-primary);
  }

  #survey_button_less_mobile {
    display: block;
    color: var(--bg-primary);
    margin-left: 2vmin;
    width: 7mm;
    height: 7mm;
    background-size: 100%;
  }

  #survey_button_less_mobile::after {
    font-size: 16px;
    content: "\02612 \0000a0 CLOSE";
  }
}


/* Custom block UKL alert message styles */

.slab .site-ukl-alert.slab:first-child {
  padding-top: 0;
}

.site-ukl-alert .slab__wrapper {
  background-color: #3898FF;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 0 auto; 
}

.site-ukl-alert .icon-wrapper {
  margin-right: 2rem;
}

.site-ukl-alert .message p:last-child {
  margin-bottom: 0;
}

.site-ukl-alert .message p:first-child {
  margin-top: 0;
}

.site-ukl-alert h2 {
  text-transform: uppercase;
  font-family: "usual", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--bg-primary);
  margin: 0;
  line-height: 1.2;
}

#uklalert {
  display: none;
  background: #3898FF;
  font-family: "usual", sans-serif;
}

#uklalertmsg {
  color: #000;
  line-height: 1.5;
}

#uklalertlink a {
  color: #000000;
}


/* top level alert div */

#top-alert { 
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "usual", sans-serif;
  display: none;
  margin-bottom: -16px;
  line-height: 2em;
  font-size: 16px;
}

#top-alert > div > div > div > p:nth-of-type(3) {
  margin: 0 0 0 0;
}

#ukalertlink {
  color: white;
  text-decoration: underline;
}


/* styles for mobile secondary header */

@media screen and (max-width: 1023px) {

  .dropdown a {
    padding-bottom: 20px;
  }

  .dropdown .dropdown-content.c  {
    padding: 0px 0px 0px 10px;
    margin-left: calc(-35% - 10px);
  }

  .dropbtn {
    padding: 0px 0px;
  }

  .dropdown .dropdown-content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: unset;
    z-index: unset;
  }

  .dropbtn.c {
    padding-bottom: 20px;
  }

  .dropdown:focus .dropdown-content {
    outline: none;
    position:inherit;
    display:block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    padding-top: 0px;
  }

  #getlink1:focus .dropdown-content {
    display:block;
  }

  #getlink2:focus .dropdown-content {
    display:block;
  }

  #getlink3:focus .dropdown-content {
    display:block;
  }

  #getlink4:focus .dropdown-content {
    display:block;
  }
  
  #getlink5:focus .dropdown-content {
    display:block;
  }
  
  #getlink6:focus .dropdown-content {
    display:block;
  }

  .ukl-ext-clamp .global-header-layout { 
    display: block; 
  } 

}

#MainHeader .slab {
  padding: .9rem 1rem;
}

#getmhome {
  font-size: 1.7rem;
  text-decoration: none;
  display: block;
  float: left;
  color: white;
  font-family: "usual", sans-serif;
  padding-left: 15px;
}

#getmhome a {
  color: white;
  font-family: "usual", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.menu_button_more {
  display: block;
  float: right;
  justify-content:flex-end;
  margin-left: auto;
  width: 7mm;
  height: 7mm;
  background-size: 100%;
  /* inline SVG element! */
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 120 80" width="40" height="40" version="1.0" xmlns="http://www.w3.org/2000/svg"><rect x="15" width="90" height="15" rx="10"></rect><rect x="15" y="30" width="90" height="15" rx="10"></rect><rect x="15" y="60" width="90" height="15" rx="10"></rect></svg>');
}

.menu_button_less {
  display: block;
  float: right;
  justify-content:flex-end;
  margin-left: auto;
  width: 7mm;
  height: 7mm;
  background-size: 100%;
  /* inline SVG element! */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
}

#ukheader .mtopmenu  {
  background-color: var(--bg-primary);
  padding: 10px 20px 10px 0px;
  min-height: 75px;
}

@media screen and (min-width: 770px) and (max-width: 1190px) {
  .ukl-ext-clamp .slab__wrapper {
    padding-right: 15px;
  }
}

/* was 769 */
@media screen and (min-width: 1024px) {
    .menu_button {
    display: none;
    }
}

/* was 768 */
@media screen and (max-width: 1023px) {
  #gethome {
    margin-bottom: 50px;
  }
  
  #menu_button {
    width: 5vmin; height: 5vmin;
    }
  .ukl-ext-clamp .global-header-layout > div {
    padding: 0 0 0 0;
    /*margin-top: 50px;*/
    }
  .ukl-ext-clamp .slab__wrapper {
    padding-right: 15px;
  }
}

@media screen and (max-width: 265px) {
  #getmhome {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
    white-space: nowrap;
  }
  
  .ukl-ext-clamp .slab__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* added style for Springshare search box */

#springsrchLabel {
  font-weight: normal;
  background: none;
}

#springsrch {
  font-family: "usual", sans-serif;
  display: none; 
}

#springbtn {
  background-color: #e7e7e7;
  color: #000;
  height: 25px;
  font-size: 12px;
  vertical-align: middle;
  border-width: 1px;
}

#searchTerm {
  height: 25px;
  box-sizing: border-box;
  color: #000;
  vertical-align: middle;
  font-weight: normal;
}

#springbtn:active {
  background-color: #e7e7e7;
} 

#springbtn:focus {
  background-color: #e7e7e7;
  color: black;
}

/* Utility */

.hidden{
 display: none;
}

/* Testing */


/* dd container */
.dropdown {
  display: inline-block;
  position: relative;
  outline: none;
  background-color: #0033a0;
}

/* button */
.dropbtn {
  display: inline-block;
  /*padding: 0px 12px;*/
  color: white;
  cursor: pointer;
  background-color: #0033a0;
  transition: 0.35s ease-out;
}


/* dd content */
.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
  background-color: var(--bg-primary);
  min-width: 120%;
  padding: 0;
  font-size: 16px;
  transition: 0.35s ease-out;
}

/* center & right position menu relative to the button */
.dropdown .dropdown-content.c  {
  left: 80%;
  margin-left: calc(-70% - 10px);
  width: 250px;
  padding:20px;
}

.dropdown .dropdown-content.r  {
  right: 0;
}

/* style link menu item */
.dropdown-content .mi {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  position: relative;
}
.dropdown-content .mi::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.4s ease-out;
}
.dropdown-content .mi:hover::before {
    opacity: 1;
}

/* style text link */
.dropdown-content .tl {
  color: #36f;
  text-decoration: none;
  border-bottom: 1px dotted #36f;
  transition: 0.35s ease-out;
}

.dropdown-content .tl:hover {
  border-bottom: 1px dotted transparent;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  visibility: visible;
  opacity: 1;
  transform: translateY(20px);
}

/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: unset;
  z-index: 10;
  display: none;
}

.dropdown:focus .db2 {
  display: inline-block;
}

.dropdown .db2:focus .dropdown-content, .dropdown-content .db3:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}

/* icon plus */
.dropbtn::after {
  content: "\002B";
  font-size: 16px;
  display: inline-block;
  width: 15px;
  height: 3px;
  margin-left: 10px;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.dropdown:focus .dropbtn::after {
  content: "\2212";
}

/* icon content */
.dropbtn.i2::after {
  content: "";
  display: inline-block;
  border: 0;
  width: 15px;
  height: 12px;
  margin-left: 10px;
  background:#0033a0;
  background-repeat: no-repeat;
}

.dropdown:focus .dropbtn.i2::after {
  width: 15px;
  height: 12px;
  background: #0033a0;
  background-repeat: no-repeat;
}

/* media queries */
@media (max-width:560px) {
.dropdown .dropdown-content.r,
.dropdown .dropdown-content.c {
  margin-left: 0;
  }
  
.dropbtn.c::before, .dropbtn.r::before {
  background: #0033a0;
  }
}

.UK-Logo-Header {
  width: 75px;
  height: 75px;
  color: white;
  padding-right: 1.3rem;
  border-right: 1px solid white;
}

@media (max-width: 560px){
  .global-header-layout {
    display: flex;
    flex-direction: column;
  }
}
