:root {
    --wildcat-blue: #0033a0;
    --wildcat-white: #ffffff;
    --wildcat-black: #2c2a29;
    --light-blue: #1897d4;
    --dark-blue: #202c5f;
    --light-gray: #c8c8c7;
    --dark-gray: #63656a;
}
