:root {
    --wildcat-blue: #0033a0;
    --wildcat-white: #ffffff;
    --wildcat-black: #2c2a29;
    --light-blue: #1897d4;
    --dark-blue: #202c5f;
    --light-gray: #c8c8c7;
    --dark-gray: #63656a;
}

.small-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.image-small {
    width: 50%;
}

.image-large {
    width: 75%;
}

.main-story {
    display: flex;
    flex-direction: column;
}

.main-section {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
}

.last-section {
    display: flex;
    justify-content: center;
}

.example-articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    margin: 0;
}

main {
    font-family: "usual", "sans-serif";
}

h1, h2, h3, time {
    color: var(--wildcat-blue);
    margin: 0;
}

time {
    font-size: .75rem;
    font-style: italic;
}

.small-section {
    margin: 0;
    font-size: .75rem;
}

.read-more {
    color: var(--wildcat-white);
    background-color: var(--wildcat-blue);
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: fit-content
}

.read-more:hover {
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
}

.all-stories {
    font-weight: bolder;
    
    color: var(--wildcat-blue)
}

.last-section {
    z-index: -10;
    background-color: var(--wildcat-white);
    background-image:  repeating-linear-gradient(45deg, var(--wildcat-blue) 25%, transparent 25%, transparent 75%, var(--wildcat-blue) 75%, var(--wildcat-blue)), repeating-linear-gradient(45deg, var(--wildcat-blue) 25%, var(--wildcat-white) 25%, var(--wildcat-white) 75%, var(--wildcat-blue) 75%, var(--wildcat-blue));
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
}

.image-section {
    background-color: var(--wildcat-white);
    box-shadow: 5px 5px 10px var(--wildcat-black);
    z-index: 10;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1075px) {
    .last-section {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}